<h1>Current {{table}}</h1>
{{> navbar}}
<style>
  .container {
    width: 700px;
  }
</style>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8">
          <h2>Details: <b>{{table}}</b></h2>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal"><i class="fa fa-plus"></i> Add New</button>
        </div>
        {{> searchBar}}
      </div>

    </div>
    <table id='myTable' class="table table-bordered">
      <thead>
        <tr>
          <th>Party</th>
          <th>Showing</th>
          <th>Room</th>
          <th>Seat(s)</th>
          <th>Order Status</th>
          <th>Actions</th>
        </tr>
        </tdead>
      <tbody>
        {{#each mockData.Orders}}
          <tr>
            <td>{{Party}}</td>
            <td>{{Showing}}</td>
            <td>{{Room}}</td>
            <td>{{Seats}}</td>
            <td class="status" contenteditable="false" id="sr{{@index}}">{{OrderStatus}}</td>
            <td>
              <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel"><strong>Register Seat</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="orderParty">Party:</label>
              <input type="text" name="orderParty" id="orderParty" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label for="orderShowing">Showing:</label>
              <input type="text" class="form-control" id="orderShowing">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="orderSeats">Seats:</label>
              <input type="text" name="orderSeats" id="orderSeats" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
